*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
width: 100%;
}
#upperdiv
{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;

}
#upperdiv #menu{
width: 20%;
}
#upperdiv div{
width: 50%;
}
#menu i{
margin-left: 10px;
}
#upperdiv img{
width: 80%;
}

a{
text-decoration: none;
margin: 0px 10px;
color: white;

}
#navbar{
display: none;
}
#icons{
display: none;
}
#lowerdiv{
padding: 50px 0px;
text-align: center;
background-color: black;
color: white;
}


 #logo2{
    display: none;
}
/*  section 2*/
#sec2{
    text-align: center;
    justify-content: center;
    align-items: center;

}
#sec2 div{
    padding: 20px;
    line-height: 25px;
}

#sec2 div p{
font-size: 30px;
line-height: 30px;
}
/*  section 3*/
#sec3{
    margin: 15px;
}
#sec3 div img{
    width: 100%;
}

/*  section test*/
#test{
    background-color: black;

    color: white;
    text-align: center;
    padding: 50px;

}
#test div{
    padding: 20px;
}

/*  section numbers*/
#numbers{
    text-align: center;
    padding: 100px 0px;
    margin: 0px 15px;
    line-height: 25px

}
#numbers div{
    margin: 20px 0px;
}

/*  section contact*/
#secc{
    background-color: rgb(154, 132, 10);
    color: black;
    padding: 50px 0px;
}
#secc div{
    margin: 0px 15px;
    padding: 30px 0px;
}
#seccbtn{
    color: white;
    height: 50px;
    width: 120px;
    border: 0px;

    background-color: brown;
}


@media only screen and (min-width:768px){

     #logo2{
    display: none;
}
    #sec2main{
        margin-top: 90px;
    }
    #sec2 div p{
        margin: 50px 100px;
    }
    
    #sec3 div{
        margin: 50px 100px;
        line-height: 25px;
    }

    #numbers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #numbers div div{
        width: 80%;
        text-align: center;
        margin-left: 10px;
    }
    #numbersitems{
        justify-content: center;
        align-items: center;
    }

    #secc div{
        width: 80%;
        margin: 0px 50px;
    }
}
@media only screen  and (min-width:1024px){
    #header #lowerdiv {
        padding: 100px 0px;
    }
        #header #lowerdiv h1{
        font-size: 90px;
    }

#logo{
    display: none;
}
#upperdiv #logo2{
    display: inline;
    width: 20%;
}
    
}


#sec3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#sec3 div{
    width: 30%;
}















#footer1{
padding-top: 50px;
background-color: black;
color: white;
text-align: center;
padding-bottom: 80px;
}
#emailid{
background-color: black;
color: white;
border: 1px solid white;
width: 200px;
padding: 20px;
}
#footer2{
background-color: black;
color: white;
text-align: center;
padding: 80px 0px;
}
#footer2 div{
margin: 8px 0px;
}
#fupper div{
margin-top: 50px;
}
#flower div{
padding-top: 50px;
padding-bottom: 30px;
}
#finfo{
line-height: 30px;
font-size: 15px;
}
#finfo h4{
width: 100%;
}
#pageid,#finfo{
text-align: center;
}
#footer2icons i{
margin: 10px;
}

#flogos{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
#flogos div{
width: 10%;
}
#secmap div iframe{
width: 100%;
}

/* tablet view started*/
@media only screen and (min-width:768px){
#header #upperdiv img{
width: 30%;
}

#footer1 #fupper div{
    width: 60%;
    margin-left: 140px;
}
}

@media only screen and (min-width:1024px){
#header{
background-color: black;
display: flex;
flex-wrap: wrap;
}
#header #upperdiv img{
width: 40%;
}
#upperdiv div{
width: 30%;
}
#upperdiv{
width: 100%;
}
#upperdiv #logo{
width: 18%;
}
#upperdiv #navbar{
width: 60%;
text-align: right;
}
#upperdiv #icons{
width: 18%;
text-align: center;
}
#menu{
display: none;
}
#navbar{
display: inline;
justify-content: space-evenly
}
#icons{
display:inline ;
color: white;
}

#lowerdiv{
color: white;
text-align: center;
width: 100%;
}

#footer1 #fupper div{
    width: 60%;
    margin-left: 290px;
}

      #footer2 ,#fpages,#flogos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      #fcopy{
        align-content: center;
      }
      #fpages div{
        margin: 50px 20px;
      }
      #flogos div{
        margin: 50px 5px;
      }

}