*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
width: 100%;
}
#upperdiv
{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;

}
#upperdiv #menu{
width: 20%;
}
#upperdiv div{
width: 50%;
}
#menu i{
margin-left: 10px;
}
#upperdiv img{
width: 80%;
}

a{
text-decoration: none;
margin: 0px 10px;
color: white;

}
#navbar{
display: none;
}
#icons{
display: none;
}
#lowerdiv{
padding: 50px 0px;
text-align: center;
background-color: black;
color: white;
}
 #logo2{
    display: none;
}
#sec1{
    margin: 50px 15px;
}
#sec1 div {
    width: 100%;
}
#sec1 div img{
    width: 100%;
}

#quote{
    font-size: 30px;
    margin: 20px 20px;
    background-color: rgb(92, 67, 21);
    padding: 100px 100px;
}


#sec3{
    margin: 50px 15px;
}
#sec3 div {
    width: 100%;
}
#sec3 div img{
    width: 100%;
}

#quote2{
    font-size: 30px;
    margin: 20px 20px;
    background-color: rgb(92, 67, 21);
    padding: 100px 100px;
}

#sec4{
    margin: 50px 15px;
}
#sec4 div {
    width: 100%;
}
#sec4 div img{
    width: 100%;
}
#audio1{
    border: 1px solid black;
    border-radius: 0px;
}

#sec5{
    margin: 50px 15px;
}
#sec5 div {
    width: 100%;
}
#sec5 div img{
    width: 100%;
}

#readmorebtn{
    border: none;
    width: 150px;
    height: 50px;
    background-color: white;
}

    #footer2 #flogos div{
    margin: 0px -90px;
}




@media only screen and (min-width:768px){
    #sec1,#sec3,#sec4,#sec5,#quote,#quote2{
        margin: 100px 60px;
    }
    #sec1 div{
        margin: 10px 0px;
    }
        #sec3 div{
        margin: 10px 0px;
    }
        #sec4 div{
        margin: 10px 0px;
    }
        #sec5 div{
        margin: 10px 0px;
    }
    #audio1{
        width: 100%;
    }

    #footer2 #flogos div{
    margin: 0px -300px;
}
}
@media only screen  and (min-width:1024px){
    #header #lowerdiv {
        padding: 100px 0px;
    }
        #header #lowerdiv h1{
        font-size: 90px;
    }
    #quote2,#quote{
        padding: 90px 10px;
        text-align: center;
    }
        #sec1,#sec3,#sec4,#sec5,#quote,#quote2{
        margin: 100px 200px;
    }

#footer2  ,#fpages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#footer2 div{
    width: 30%;
}

#fpages div{
    width: 20%;
}
#footer2 #flogos div{
    margin: 0px -100px;
}
#footer2 #fpages div{
    margin: 0px -80px;
}

}


















#footer1{
padding-top: 50px;
background-color: black;
color: white;
text-align: center;
padding-bottom: 80px;
}
#emailid{
background-color: black;
color: white;
border: 1px solid white;
width: 200px;
padding: 20px;
}
#footer2{
background-color: black;
color: white;
text-align: center;
padding: 80px 0px;
}
#footer2 div{
margin: 8px 0px;
}
#fupper div{
margin-top: 50px;
}
#flower div{
padding-top: 50px;
padding-bottom: 30px;
}
#finfo{
line-height: 30px;
font-size: 15px;
}
#finfo h4{
width: 100%;
}
#pageid,#finfo{
text-align: center;
}
#footer2icons i{
margin: 10px;
}

#flogos{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
#flogos div{
width: 10%;
}
#secmap div iframe{
width: 100%;
}

/* tablet view started*/
@media only screen and (min-width:768px){
     #logo2{
    display: none;
}
#header #upperdiv img{
width: 30%;
}

#footer1 #fupper div{
    width: 60%;
    margin-left: 140px;
}
}

@media only screen and (min-width:1024px){

        #upperdiv{
        position: fixed;
        background-color: black;
    }
#header{
background-color: black;
display: flex;
flex-wrap: wrap;
}
#header #upperdiv img{
width: 40%;
}
#upperdiv div{
width: 30%;
}
#upperdiv{
width: 100%;
}
#upperdiv #logo{
width: 18%;
}
#upperdiv #navbar{
width: 60%;
text-align: right;
}
#upperdiv #icons{
width: 18%;
text-align: center;
}
#menu{
display: none;
}
#navbar{
display: inline;
justify-content: space-evenly
}
#icons{
display:inline ;
color: white;
}

#lowerdiv{
color: white;
text-align: center;
width: 100%;
}


#logo{
    display: none;
}
#upperdiv #logo2{
    display: inline;
    width: 20%;
}




#footer1 #fupper div{
    width: 60%;
    margin-left: 290px;
}
#fpages div{
    width: 50%;
    margin-left: 10px;
}

#footer2 {
    width:100%;
}

#footer2 {
    justify-content: space-between;
}
#footer2 #fpages {
    width: 40%;
}
}